.data_export .ant-tabs-nav .ant-tabs-tab{
    font-size: 14px;
}
.data_export .ant-row{
    font-size: 12px;
}
.margin_0{
    margin-top: -2px !important;
}
.date_export_input{
    margin-bottom: 15px;
}
.date_export_table{
    height: calc(100% - 130px);
}