.adiuo_p_play{
    float: left;
    height: 30px;
    position: relative;
}
.adiuo_hidden{
    width: 25px;
    height: 32px;
    background: #fafafa;
    display: inline-block;
    position: absolute;
    right: 0;
    top: -2px;
}
.audio_left {
    width: 24px;
    height: 17px;
    display: inline-block;
    background: url(http://60.205.111.227/upload2/common/img/audio_left.png) no-repeat;
    background-position: -48px 0;
    position: relative;
    top: 4px;
}
.audio_left_run {
    width: 24px;
    height: 17px;
    display: inline-block;
    animation: audio_left_1 1s infinite;
    position: relative;
    top: 4px;
    background: url(http://60.205.111.227/upload2/common/img/audio_left.png) no-repeat;

}

@keyframes audio_left_1 {
    0% {
        background-position: 0 0;
    }
    30% {
        background-position: 0 0;
    }
    31% {
        background-position: -24px 0;
    }
    61% {
        background-position: -24px 0;
    }
    61.5% {
        background-position: -48px 0;
    }
    100% {
        background-position: -48px 0;
    }
}