.pabulum li{
	padding:12px 24px;
}
.pabulum li.select, .pabulum li.select i{
	background:#E5F2FE;
	color: #2db7f5;
}
.liveTV .content{
	display:flex;
	display:-webkit-flex;
	flex-direction:row;
	flex-wrap: nowrap
}
.liveTV .live, .liveTV .panle, .liveTV .tab{
	display: inline-flex;
}
.liveTV .live{
	width:300px;
	margin:0;
	padding:0;
	background:#000
}
.liveTV .cont{
	width:100%;
	position: relative;
	height:100%
}
.liveTV .panle, .liveTV .public{
	width:100%;
	text-align:center;
	position: relative;
	height:100%
}
.liveTV .panle .iframe{
	height:100%;
	width:100%;
}
.liveTV .panle .floatBtn{
	position: absolute;
    right: 30px;
    bottom: 60px;
}
.liveTV .tab{
	width:80px;
	background:#eeeff4
}
.liveTV .tab ul{
	width:100%
}
.liveTV .tab ul li{
	height: 25px;
    margin-left: 18px !important;
    width: 28px;
    padding-left: 0 !important;
    float: left;
	margin-top:28px;
	position:relative;
	cursor:pointer
}
.liveTV .tab ul li div.tan{
	display:none;
}

.liveTV .tab ul li:hover div.tan{
	background: #000;
    color: #fff;
    position: absolute;
    left: -50px;
    top: 0px;
    height: 25px;
    line-height: 25px;
    display: inline-block;
    border-radius: 4px;
    padding: 0 8px;
    z-index: 1000;
    font-size: 14px;
    float: left;
}
.sendst{
	margin:0 auto;
}
