.pabulum li{
	padding:12px 24px;
}
.pabulum li.select, .pabulum li.select i{
	background:#E5F2FE;
	color: #2db7f5;
}
.liveTV{
	top: 0;
    height:100% !important;
	left: 0px !important;
    right: 0 !important;
	border-left:none !important
}

.liveTV .public—til—blue{
	background: #0084ff;
    height: 54px;
	color:#fff;
	line-height:54px;
}
.liveTV .content{
	display:flex;
	display:-webkit-flex;
	flex-direction:row;
	flex-wrap: nowrap;
	height: calc(100% - 54px) !important;
    min-height: 548px;
}
.liveTV .live, .liveTV .panle, .liveTV .tab{
	display: inline-flex;
}
.liveTV .live{
	width:300px;
	margin:0;
	padding:0;
	background: #191919;
    height: 100%;
    border-radius: 0;
	position: relative;
}
.liveTV .live .video-js, .danmu_pic{
	position: absolute;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
	-ms-transform:translate(-50%, -50%); /* IE 9 */
	-moz-transform:translate(-50%, -50%); /* Firefox */
	-webkit-transform:translate(-50%, -50%); /* Safari 和 Chrome */
    height: 100%;
}
.danmu_pic{
	height:300px !important;
}
.liveTV .cont{
	width:100%;
	position: relative;
	height: calc(100% - 54px) !important;
}
.liveTV .panle, .liveTV .public{
	width:100%;
	text-align:center;
	position: relative;
	height:100%
}
.liveTV .panle .iframe{
	height:100%;
	width:100%;
}
.liveTV .panle .floatBtn{
	position: absolute;
    right: 30px;
    bottom: 60px;
	display:none
}
.liveTV .tab{
	width: 64px;
    background: #eeeff4;
    height: 100% !important;
    border-right: 1px solid #dfe0e3;
    z-index: 2;
}
.liveTV .tab ul{
	width:100%
}
.liveTV .tab ul li{
	height: 25px;
    margin-left: 18px !important;
    width: 28px;
    padding-left: 0 !important;
    float: left;
	margin-top:28px;
	position:relative;
	cursor:pointer
}
.liveTV .tab ul li span.tan{
	display:none
}

.liveTV .tab ul li:hover span.tan{
	background: #000;
    color: #fff;
    position: absolute;
    left: 34px;
    top: 0px;
    height: 25px;
    line-height: 25px;
    display: block;
    border-radius: 4px;
    padding: 0 8px;
    z-index: 3000;
    font-size: 14px;
    width: 50px;
}
.liveTV .right_cont{
	height: 100%;
    margin-left: 0;
    width: calc(100% - 64px);
}
.sendst{
	margin:0 auto;
}
.activity{
	width: calc(100% - 300px);
    margin-left:0;
    height: 100%;
	float: left;
}
.liveTV .public{
	display:none;
}
.panle_book{
	width:100%;
	text-align:center;
	height:calc(100% - 50px);
	z-index: 2;
}
.panle_book img{
	height: 100%;
	max-width: 100%;
}
.showDanmuArea{
    position: absolute;
    bottom: 50px;
    width: 100%;
    height: 100px;
}
.panle .showDanmuArea{
    height: 140px;
	overflow: hidden;
	left:0;
	z-index: 2;
	text-align:left;
	width:500px;
}
.panle .showDanmuArea li{
	width:100%;
	float:left;
}
.public .showDanmuArea{
	height:calc(100% - 50px);
	overflow-y: auto;
    overflow-x: hidden;
	position: relative;
	top:0
}
.panle .sayLine{
	display: inline-block;
    color: #000;
    font-size: 15px;
    font-weight: normal;
    padding: 4px 8px;
    border-radius: 4px;
    margin: 0 20px;
    text-align: left;
    background: #C3C3C3;
	max-width:500px;
	margin-top: 5px;
	opacity: 0.7;
	word-break: break-all;
    word-wrap: break-word;

}
.panle .sayLine span{
	display:inline-block;
	word-break: break-all; 
	word-wrap:break-word;
}
.public .sayLine.left{
	padding: 10px 20px;
    float: left;
    display: block;
    margin: 5px 0;
    width: 100%;
    text-align: left;
}

.public .sayLine.right{
	padding: 10px 20px;
    float: right;
    display: block;
    margin: 5px 0;
    width: 100%;
	text-align: right;
}
.sayLine p{
	display: inline-block;
}
.inputArea{
    position: absolute;
    bottom: 0;
    height: 50px;
    width: 100%;
	background: #e4f2ff;
	padding: 8px 20px;
	text-align:left;
	font-size: 15px;
	left:0
}
.inputArea .textarea_1, .inputArea .textarea_2{
	height: 34px;
    border-radius: 4px;
    background: #fff;
    line-height: 32px;
    text-indent: 8px;
    color: #999;
    border: 1px solid #4a90e2;
	resize: none;
}
.textarea_1{
	 width: calc(100% - 100px);
}
.textarea_2{
	 width: calc(100% - 164px);
}
.inputArea button, .file_btn{
	color: #fff;
    background: #0084ff;
    border: none;
    border-radius: 4px;
    height: 34px;
    line-height: 34px;
    float: right;
    padding: 0 12px;
    cursor: pointer;
    margin-left: 12px; 
}
.inputArea button:hover, .file_btn:hover{
	background:#2696ff
}
.liveTV .panle iframe{
    height: calc(100% - 50px) !important;
    z-index: 2;
    position: absolute;
    width: 100%;
	left:0	
}
.marquee{
　　white-space: nowrap;
	overflow: -webkit-marquee;
    -webkit-marquee-style: scroll;
    -webkit-marquee-repetition: infinite;
    -webkit-marquee-direction: left;
    -webkit-marquee-speed:normal;
}
.st_file{
	position: absolute;
    top: 8px;
    right: 20px;
    width: 70px;
    height: 34px;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    opacity: 0;
}
.st_file_tex{
	position: relative;
    left: 1px;
}
.st_file_wrap{
	 width: 70px;
}
.st_file_wrap input[type="file"], .st_file_wrap input[type="file" i]{
	cursor:pointer
}